{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "55"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "shippedProposals": true
      }
    ]
  ]
}
